.content__news-summary {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.publication-image__news-summary {
  border-radius: 0.625rem;
  margin-bottom: 0.5rem;
  width: 15rem;
  height: 15rem;
}

.publication-infos__news-summary {
  color: gray;
  font-size: small;
  margin-bottom: 0.5rem;
}

.publication-title__news-summary {
  margin-bottom: 0.5rem;
}

.publication-description__news-summary {
  color: gray;
  font-size: small;
  margin-bottom: 0.5rem;
}

.publication-subject__news-summary {
  font-size: x-small;
  margin-bottom: 0.5rem;
  color: red;
}
