.content__news-summary {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.publication-image__news-summary {
  border-radius: 10px;
  margin-bottom: 8px;
  width: 320px;
  height: 320px;
}

.publication-infos__news-summary {
  color: gray;
  font-size: small;
  margin-bottom: 8px;
}

.publication-title__news-summary {
  margin-bottom: 8px;
}

.publication-description__news-summary {
  color: gray;
  font-size: small;
  margin-bottom: 8px;
}

.publication-subject__news-summary {
  font-size: x-small;
  margin-bottom: 8px;
  color: red;
}
