.content__latest-news {
  display: flex;
  flex-direction: column;
  & > h1 {
    margin-bottom: 16px;
  }
}

.news__latest-news {
  display: flex;
  flex-direction: row;
  & > div {
    margin: 0 4px;
  }
}
