.content__latest-news {
  display: flex;
  flex-direction: column;
  & > h1 {
    margin-bottom: 1rem;
  }
}

.news__latest-news {
  display: flex;
  flex-direction: row;
  & > div {
    margin: 0 0.25rem;
  }
}
